<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${nameForm} + ${tglLaporView})}"></header>
<main class="seller-index">
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/rbb22C00/index}">
            <input type="date"  name="tglLapor"  th:attr="value=${tglLapor}">
            <button class="blue-button" type="submit">Search</button>
            <a class="blue-button" th:href="@{/rbb22C00/addData}">Tambah Data</a>
        </form>

        </form>


        <a class="blue-button create-button" th:href="@{/rbb22C00/exportData}">Export</a>

        <table>
            <thead>
            <tr>
                <th>Kode Komponen</th>
                <th>Nama Komponen</th>
                <th>Realisai T3</th>
                <th>T4 Min 1</th>
                <th>T1</th>
                <th>T2</th>
                <th>T3</th>
                <th>T4</th>
                <th>T4 Plus 1</th>
                <th>T4 Plush 2</th>
                <th>Aksi</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="rbb22C00 : ${grid}" th:object="${rbb22C00}">
                <td th:text="*{kdKomponen}"></td>
                <td th:text="*{nmKomponen}"></td>
                <td th:text="*{realisaiT3}"></td>
                <td th:text="*{t4Min1}"></td>
                <td th:text="*{t1}"></td>
                <td th:text="*{t2}"></td>
                <td th:text="*{t3}"></td>
                <td th:text="*{t4}"></td>
                <td th:text="*{t4Plus1}"></td>
                <td th:text="*{t4Plus2}"></td>

                <td >
                    <a class="blue-button delete-button" th:href="@{/rbb22C00/upsertForm(id=*{id})}">Update</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>