<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('List Book From This Author')}"></header>


<main>


    <div class="grid-container">
        <section class="header-info" th:object="${header}">
            <div>Author ID: <span th:text="*{id}"></span></div>
            <div>Tittle: <span th:text="*{title}"></span></div>
            <div>Name: <span th:text="*{fullName}"></span></div>
            <div>Birth Date: <span th:text="*{birthDate}"></span></div>
            <div>Deceased Date: <span th:text="*{deceasedDate}"></span></div>
            <div>Education: <span th:text="*{education}"></span></div>
            <div>Summary: <span th:text="*{summary}"></span></div>
        </section>
        <table>
            <thead>
            <tr>
                <th>Bool Tittle</th>
                <th>category</th>
                <th>IS Borrowed</th>
                <th>Release Date</th>
                <th>Total Page</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${detailGrid}" th:object="${book}">
                <td th:text="*{title}"></td>
                <td th:text="*{categoryName}"></td>
                <td th:text="*{isBorrowed}"></td>
                <td th:text="*{releaseDate}"></td>
                <td th:text="*{totalPage}"></td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:if="${totalPages > 0}" th:each="loop:${#numbers.sequence(1, totalPages)}"
                               th:href="@{/author/detail(page=${loop},id=${header.id})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <a class="red-button create-button" th:href="@{/author}">Back To Author Index</a>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>