<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('Nasabah List')}"></header>
<main class="seller-index">
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/nasabah/index}">
        </form>
        <a class="blue-button create-button" th:href="@{/nasabah/upsertForm}">Insert Product</a>
        <table>
            <thead>
            <tr>

                <th>Nama</th>
                <th>Tempat Lahir</th>
                <th>Tanggal Lahir</th>
                <th>Alamat</th>
                <th>Penghasilan</th>
                <th>Jenis Nasabah</th>
                <th>ID Customer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="nasabah : ${grid}" th:object="${nasabah}">

                <td th:text="*{name}"></td>
                <td th:text="*{tempatLahir}"></td>
                <td th:text="*{tanggalLahir}"></td>
                <td th:text="*{alamat}"></td>
                <td th:text="*{#numbers.formatCurrency(penghasilan)}"></td>
                <td th:text="*{jenisNasabah}"></td>
                <td th:text="*{idCustomer}"></td>
                <td >
                    <a class="blue-button delete-button" th:href="@{/nasabah/upsertForm(id=*{id})}">Update</a>
                    <a class="red-button detail-button" th:href="@{/nasabah/delete(id=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>