<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('Price Product')}"></header>
<main class="seller-index">
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/priceProduct/index}">
            <input type="text" name="productName" placeholder="productName..." th:attr="value=${productName}">
            <button class="silver-button" type="submit">Search</button>
        </form>
        <a class="silver-button create-button" th:href="@{/priceProduct/upsertForm}">Insert Product</a>
        <table>
            <thead>
            <tr>

                <th>Product Name</th>
                <th>Product Price</th>
                <th>Stock</th>
                <th>Date Update</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="priceProduct : ${grid}" th:object="${priceProduct}">

                <td th:text="*{productName}"></td>
                <td th:text="*{#numbers.formatCurrency(productPrice)}"></td>
                <td th:text="*{stock}"></td>
                <td th:text="*{dateUpdate}"></td>
                <td >
                    <a class="silver-button delete-button" th:href="@{/priceProduct/upsertForm(id=*{id})}">Update</a>
                    <a class="silver-button detail-button" th:href="@{/priceProduct/delete(id=*{id})}">Delete</a>
                    <a class="silver-button detail-button" th:href="@{/priceProduct/return(id=*{id})}">Buy</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:if="${totalPages > 0}" th:each="loop:${#numbers.sequence(1, totalPages)}"
                               th:href="@{/priceProduct/index(page=${loop},id=${id})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>