<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${type} + ' Product')}"></header>
<main>
    <form th:object="${priceProduct}" class="upsert-form" method="post" th:attr="action=@{/priceProduct/upsert}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <!--       #ini yg csrf biar bisa insert sesuatu kalo ga gabisa insert-->


        <table>
            <tbody>
            <input type="hidden" th:field="*{id}">
            <tr>
                <td><label>Product Name</label></td>
                <td>
                    <input type="text" th:field="*{productName}">
                    <div class="field-validation-error" th:errors="*{productName}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Product Price</label></td>
                <td>
                    <input type="text" th:field="*{productPrice}">
                    <div class="field-validation-error" th:errors="*{productPrice}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Stock</label></td>
                <td>
                    <input type="text" th:field="*{stock}">
                    <div class="field-validation-error" th:errors="*{stock}"></div>

                </td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td>
                    <input type="text" th:field="*{desription}">
                    <div class="field-validation-error" th:errors="*{desription}"></div>

                </td>
            </tr>
            </tbody>
        </table>

        <button type="submit" class="silver-button" th:text="${type} + ' Product'"></button>
        <a class="silver-button create-button" th:href="@{/priceProduct/index}">Back To Product Index</a>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>