<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('Employee Stock')}"></header>
<main class="seller-index">
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/leaveStock}">
        </form>
        <a class="blue-button create-button" th:href="@{/leaveStock/upsertForm}">Insert Product</a>
        <table>
            <thead>
            <tr>

                <th>Nama</th>
                <th>Stock</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${grid}" th:object="${employee}">

                <td th:text="*{employeeName}"></td>
                <td th:text="*{stock}"></td>
                <td>
                    <a class="blue-button delete-button" th:href="@{/nasabah/upsertForm(id=*{id})}">Update</a>
                    <a class="red-button detail-button" th:href="@{/nasabah/delete(id=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>