<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('Delete Customer Fail')}"></header>
<main>
    <div class="fail-container">
        <p>Ada <span th:text="${dependencies}"></span> data Loan ditemukan, dimana masuk ke dalam customer ini.</p>
        <p>Anda tidak bisa menghapus customer ini, dimana data-data loan tersebut masih kebergantungan dengan Seller ini.</p>
    </div>
    <a class="silver-button" th:href="@{/customer}">back to index</a>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>