<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${type} + ' Loan')}"></header>
<main>
    <form th:object="${loan}" class="upsert-form" method="post" th:attr="action=@{/loan/upsert}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <!--       #ini yg csrf biar bisa insert sesuatu kalo ga gabisa insert-->
        <input type="hidden" th:field="*{id}">
            <tbody>
            <table>
                <tr>
                    <td><label>Customer Name*</label></td>
                    <td>
                        <select th:field="*{customerNumber}">
                            <option th:value=null>Customers Number*</option>
                            <option th:each="option : ${customerDropDown}" th:value="${option.stringValue}"
                                    th:text="${option.text}" th:selected="${option.stringValue == customerNumber}"/>
                        </select>
                        <div class="field-validation-error" th:errors="*{customerNumber}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Book Name*</label></td>
                    <td>
                        <select th:field="*{bookCode}">
                            <option th:value=null>Book Name*</option>
                            <option th:each="option : ${bookDropDown}" th:value="${option.stringValue}"
                                    th:text="${option.text}" th:selected="${option.stringValue == bookCode}"/>
                        </select>
                        <div class="field-validation-error" th:errors="*{bookCode}"></div>
                    </td>
                </tr>


                <tr>
                    <td><label>loanDate*</label></td>
                    <td>
                        <input type="text" th:field="*{loanDate}">
                        <div class="field-validation-error" th:errors="*{loanDate}"></div>
                    </td>
                </tr>

                <tr>
                    <td><label>dueDate*</label></td>
                    <td>
                        <input type="text" th:field="*{dueDate}">
                        <div class="field-validation-error" th:errors="*{dueDate}"></div>
                    </td>
                </tr>

                <tr>
                    <td class="textarea-label"><label>Note*</label></td>
                    <td>
                        <textarea th:field="*{note}"></textarea>
                        <div class="field-validation-error" th:errors="*{note}"></div>
                    </td>
                </tr>



            </tbody>
        </table>

        <button type="submit" class="blue-button" th:text="${type} + ' loan'"></button>
        <a class="red-button create-button" th:href="@{/loan/index}">Back To loan Index</a>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>