<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('Delete Seller Fail')}"></header>
<main>
    <div class="fail-container">
        <p>Ada <span th:text="${dependencies}"></span> data Store ditemukan, dimana masuk ke dalam Seller ini.</p>
        <p>Anda tidak bisa menghapus Seller ini, dimana data-data Store tersebut masih kebergantungan dengan Seller ini.</p>
    </div>
    <a class="silver-button" th:href="@{/seller}">back to index</a>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>