<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${type} + ' Seller')}"></header>
<main>
    <form th:object="${seller}" class="upsert-form" method="post" th:attr="action=@{/seller/upsert}">
        <table>
            <input type="hidden" th:field="*{id}">
            <tbody>

            <tr>
                <td><label>SellerName*</label></td>
                <td>
                    <input type="text" th:field="*{name}">
                    <div class="field-validation-error" th:errors="*{name}"></div>
                    <div class="field-validation-error" th:errors="${seller}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Birth Date</label></td>
                <td>
                    <input type="date" th:field="*{birthDate}">
                    <div class="field-validation-error" th:errors="*{birthDate}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Gender*</label></td>
                <td>
                    <select name="gender" id="gender">

                        <option value="L">Laki-Laki</option>
                        <option value="P">Perempuan</option>
                    </select>

                    <div class="field-validation-error" th:errors="*{gender}"></div>
                </td>
            <tr>
                <td><label>Address</label></td>

                <td>
                    <textarea th:field="*{address}"></textarea>
                    <div class="field-validation-error" th:errors="*{address}"></div>

                </td>
            </tr>
            </tbody>

        </table>

        <button type="submit" class="blue-button" th:text="${type} + ' Seller'"></button>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>