<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (Seller)}"></header>
<main class="seller-index">
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/seller/index}">
            <input type="text" name="name" placeholder="Seller Name..." th:attr="value=${name}">
            <button class="blue-button" type="submit">Search</button>
        </form>
        <a class="yellow-button create-button" th:href="@{/seller/upsertForm}">Insert Seller</a>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Birth Date</th>

                <th>Address</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="seller : ${grid}" th:object="${seller}">
                <td >
                    <a class="blue-button update-button" th:href="@{/seller/upsertForm(id=*{id})}">Update</a>
                    <a class="red-button delete-button" th:href="@{/seller/delete(id=*{id})}">Delete</a>
                    <a class="silver-button detail-button" th:href="@{/seller/detail(id=*{id})}">Store</a>
                </td>
                <td th:text="*{name}"></td>
                <td th:text="*{birthDate}"></td>

                <td th:text="*{address}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:if="${totalPages > 0}" th:each="loop:${#numbers.sequence(1, totalPages)}"
                               th:href="@{/seller(page=${loop},name=${name})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>