<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header ('Devisi List')}"></header>
<main class="seller-index">
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/devisi/index}">
        </form>
        <a class="blue-button create-button" th:href="@{/devisi/upsertForm}">Insert Devisi</a>
        <table>
            <thead>
            <tr>
                <th>Nama Divisi</th>
                <th>Aksi</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="devisi : ${grid}" th:object="${devisi}">

                <td th:text="*{name}"></td>

                <td >
                    <a class="blue-button delete-button" th:href="@{/devisi/upsertForm(id=*{id})}">Update</a>
                    <a class="red-button detail-button" th:href="@{/devisi/delete(id=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>