<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${type} + ' Employee Periode')}"></header>
<main>
    <form th:object="${employeePeriode}" class="upsert-form" method="post" th:attr="action=@{/employeePeriode/upsert}">

        <!--       #ini yg csrf biar bisa insert sesuatu kalo ga gabisa insert-->


        <table>
            <tbody>
            <input type="hidden" th:field="*{id}">
            <tr>
                <td><label>Employee Name</label></td>
                <td>
                    <input type="text" th:field="*{name}">

                </td>
            </tr>
            <tr>
                <td><label>Jabatan*</label></td>
                <td>
                    <select th:field="*{jabatan}">
                        <option th:value=null>Nama Jabatan*</option>
                        <option th:each="option : ${jabatanDropDown}" th:value="${option.stringValue}"
                                th:text="${option.text}" th:selected="${option.stringValue == name}"/>
                    </select>
                    <div class="field-validation-error" th:errors="*{jabatan}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Divisi Name*</label></td>
                <td>
                    <select th:field="*{namaDevisi}">
                        <option th:value=null>Nama Divisi*</option>
                        <option th:each="option : ${devisiDropDown}" th:value="${option.stringValue}"
                                th:text="${option.text}" th:selected="${option.stringValue == name}"/>
                    </select>
                    <div class="field-validation-error" th:errors="*{namaDevisi}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Periode*</label></td>
                <td>
                    <select th:field="*{periode}">
                        <option th:value=null>Periode*</option>
                        <option th:each="option : ${periodeDropDown}" th:value="${option.stringValue}"
                                th:text="${option.text}" th:selected="${option.stringValue == jenisPeriode}"/>
                    </select>
                    <div class="field-validation-error" th:errors="*{periode}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Status*</label></td>
                <td>
                    <select th:field="*{status}">
                        <option th:value=null>Status*</option>
                        <option value="Aktif">Aktif</option>
                        <option value="Tidak Aktif">Tidak Aktif</option>
                    </select>
                    <div class="field-validation-error" th:errors="*{status}"></div>
                </td>
            </tr>


                </td>
            </tr>
            </tbody>
        </table>

        <button type="submit" class="silver-button" th:text="${type} + ' Employee Periode'"></button>
        <a class="silver-button create-button" th:href="@{/employeePeriode/index}">Back</a>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>